.caja-categorias-resultados{
    min-height: 90vh;
    width: 95%;
    margin: 120px auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

.categoriaFiltro{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.searchMessage{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #5FA8E5;
    margin: 0;
    padding: 2%;
}

.offer_msg{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color:#001B7E;
    margin-bottom: 2%;
    font-weight: bold;
}

.cat-name{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    height: 10%;
    padding: 1%;
    font-weight: bolder;
    color: #5FA8E5;
    margin: 0;
}

.subcat-name{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    height: 10%;
    padding: 1%;
    color: #001B7E;
    font-weight: normal;
    margin: 0;
}

.categoriaFiltro p{
    margin: 0;
    padding: 1%;
    margin-bottom: .5rem;
}

.cat-prod{
    margin:0 0 20px 0;
    width: 315px;
}

.productos-categoria{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* ------- MEDIA QUERIES ------ */

@media (min-width:481px) and (max-width:1023){
    .cat-prod{
        width: 300px;
    }
}

@media (max-width: 480px) {

    .cat-prod{
        margin:0 0 20px 0;
        width: 300px;
    }

    .cat-name{
        font-size: 1rem;
        margin: 0;
    }

    .subcat-name{
        font-size: 1rem;
    }

    .categoriaFiltro{
        align-items: center;
        margin-bottom: 5%;
    }
}