/* ------------------------------------------------------------------------ */

                                /* FOOTER */
footer{
  width: 100vw;
  height: 70vh;
  background: #001B7E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  padding: 5%;
}

.ji_info{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.ji_envios{
  font-size: 1.3rem;
  font-weight: bolder;
}

.ji_contact{
  width: 49%;
  height: 100%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.ji_logo-location{
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.logo_svg_caja{
  width: 100%;
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.logo_svg{
  width: 200px;
  margin: 0;
}

.ji_address{
  justify-content: flex-start;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.ji_address>p{
  margin: 0;
}

.ji_telefonos{
  width: 100%;
  /* height: 20%; */
  margin: 0;
  display: flex;
  align-items: center;
}

.contacto-img-footer{
  margin: 0;
  width: 10%;/* 
  height: 80%; */
  display: flex;
}

.phone-footer{
  width: 25px;
}

.phone_numbers_footer{
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 60px;
  margin: 0;
}

.phone_numbers_footer>p{
  margin: 0;
}

.ji_face{
  width: 35px;
}

.ji_face:hover{
  filter: blur(1px);
}

.footer_separador{
  width: 1px;
  height: 50%;
  background-color: white;

}

.development{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.development_p{
  margin: 0;
  font-size: 10px;
}

.development_logo{
  width: 170px;
  margin: 0;
}


/* -----------------MEDIAQUERIES----------------- */

@media screen and (max-width: 800px){

  footer{
    height: 90vh;
  }

  .ji_info{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .development{
    height: 10%;
  }

  .development_logo{
    width: 120px;
  }

  .ji_contact{
    width: 100%;
    height: 49%;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .ji_telefonos{
    justify-content: center;
  }

  .phone_numbers_footer{
    height: unset;
  }

  .phone_numbers_footer>p{
    font-size: 0.8rem;
  }

  .footer_separador{
    width: 50%;
    height: 0.5px;
    background-color: white;
  }

  .ji_logo-location{
    width: 100%;
    height: 49%;
    justify-content: center;
    align-items: center;
  }

  .logo_svg_caja{
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  .logo_svg{
    width: 130px;;
  }

  .ji_address{
    align-items: center;
  }

  .ji_address>p{
    font-size: 0.8rem;
  }

  .phone_numbers_footer{
    padding: 5px;
  }

  .ji_face{
    width: 30px;
  }

  .phone-footer{
    width: 20px;
  }

}

