@font-face {
    font-family: Wrestlemania;
    src: url(../Fonts/wrestlemania/WRESTLEMANIA.ttf);
}

@font-face {
    font-family: Frutiger;
    src: url(../Fonts/frutiger/FrutigerLTStd-Cn.otf);
}

@font-face {
    font-family: Milestone;
    src: url(../Fonts/milestone/MilestoneFreeVersion-Script.otf);
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.form-categorias{
    margin-top:100px;
    padding: 25px 0px;
}

#listaCategorias{
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius:5px;
}

#mytable td, #mytable th{
    vertical-align: initial;
    padding: 3px;
}