.form-multimedia{
    height: 100vh;
    width: 100%;
    margin-top: 120px;
}

.container-multimedia{
    width: 100%;
}

.editor-multimedia{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.__nuevasImagenes{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 25px;
}

.__formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info_load{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    width: 100%;
}

.load-img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45%;
    margin: 15px 0;
    align-items: flex-start;
    justify-content: space-around;
}

._carga-multimedia{
    margin: 0 !important;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.__files{
    font-family: 'Raleway',sans-serif;
}

.load_loaded{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

.conjunto-imagenes{
    width: 100%;
    max-height: 370px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: scroll;
}

.conjunto-imagenes::-webkit-scrollbar {
    width: 5px;
}

.conjunto-imagenes::-webkit-scrollbar-thumb{
    background-color: rgb(110, 110, 110);
    border-radius: 5px;
}

.edicion-imagenes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;
    margin-right: 10px;
}

.imagenes-cargadas .img img{
    object-fit: cover;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.__boton{
    font-family: 'Raleway', sans-serif;
}

.container-multimedia>.editor-multimedia>.info_load>.product_1{
    max-width: 50% !important;
    min-width: 50% !important;
}

/* MEDIA QUERIES */

  /* ------------TABLETS-------------- */

  @media /* (min-width: 600px) and */ (max-width: 1023px){

    .container-multimedia>.editor-multimedia>.info_load>.product_1 {
        max-width: 100% !important;
        min-width: 100% !important;
    }
  
    .__nuevasImagenes{
        font-size: 1.5rem;
    }

    .info_load{
        flex-direction: column;
        align-items: center;
    }

    .load_loaded{
        margin-top: 10px;
        align-items: center;
    }

    .__formulario {
        width: 300px;
    }
    
    .conjunto-imagenes{
        justify-content: center;
        align-self: center;
    }
}  





