.form-multimedia{
    height: 100vh;
    width: 100%;
    margin-top: 160px;
}

.container-multimedia{
    width: 100%;
}

.editor-multimedia{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.__nuevasImagenes{
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 25px;
}

.__formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info_load{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    width: 100%;
}

.load-img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45%;
    margin: 15px 0;
    align-items: flex-start;
    justify-content: space-around;
}

._carga-multimedia{
    margin: 0 !important;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.__files{
    font-family: 'Raleway',sans-serif;
}

.load_loaded{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

.conjunto-imagenes{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.edicion-imagenes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;
    margin-right: 10px;
}

.imagenes-cargadas .img img{
    object-fit: cover;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.__boton{
    font-family: 'Raleway', sans-serif;
}

/* MEDIA QUERIES */

  /* ------------TABLETS-------------- */

  @media /* (min-width: 600px) and */ (max-width: 1023px){
  
    .__nuevasImagenes{
        font-size: 2rem;
    }

    .info_load{
        flex-direction: column;
        align-items: center;
    }

    .load_loaded{
        margin-top: 10px;
        align-items: center;
    }

    .__formulario {
        width: 300px;
    }
    
    .conjunto-imagenes{
        justify-content: center;
        align-self: center;
    }
}  





