.formularioWeb>div>div{
    position: relative;
    
}


.__translation>span{
    position: absolute;
    left: 20px;
    top: 35px;
    color: gray;
    transition: 0.5s;
}
.__translation>input:focus ~ span,
.__translation>input:not(:placeholder-shown) ~ span{
    transform: translateY(-35px);
    transition: 0.5s;
    color:gray;
}