.formularioWeb>div>div{
    position: relative;
    
}


.__translation>label{
    position: absolute;
    left: 24px;
    top: 35px;
    color: gray;
    transition: 0.5s;
}
.__translation>input:focus ~ label,
.__translation>input:not(:placeholder-shown) ~ label{
    transform: translateY(-35px);
    transition: 0.5s;
    color:gray;
}